<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- Controls several grippers on the same bus separately.
				Each servo id is assigned to a different gripper name. -->

	<!-- Load the parameters -->
  <rosparam file="$(find ezgripper_control)/config/joy2.yaml" command="load"/>

	<!-- Launch the action server -->
	<node name="ezgripper_controller" pkg="ezgripper_driver" type="ezgripper_action_server.py" output="screen" />

  <node name="ezgripper_joy_action_client" pkg="ezgripper_driver" type="ezgripper_joy_action_client.py"  output="screen"/>

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="20" />
  </node>

</launch>
