<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find ezgripper_dual_gen2_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find ezgripper_dual_gen2_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

	<!-- Launch ezgripper action server -->
  <node name="ezgripper_action_server_node" pkg="ezgripper_driver" type="ezgripper_action_server.py" output="screen"/>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Publish joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">[move_group/joint_states]</rosparam>
	</node>

  <include file="$(find ezgripper_dual_gen2_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find ezgripper_dual_gen2_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
  </include>

</launch>