<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find ezgripper_dual_gen1_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find ezgripper_dual_gen1_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

	<!-- Launch ezgripper action server -->
  <include file="$(find ezgripper_driver)/launch/action_server.launch">
    <arg name="ezgripper_module" value="dual_gen1" />
  </include>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="joint_states" to="/ezgripper_dual_gen1/joint_states" />
	</node>

  <include file="$(find ezgripper_dual_gen1_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
		<arg name="debug" value="false"/>
  </include>

  <include file="$(find ezgripper_dual_gen1_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
		<arg name="debug" value="false"/>
  </include>

</launch>