<?xml version="1.0" encoding="UTF-8"?>
<robot name="ezgripper_quad" xmlns:xacro="http://ros.org/wiki/xacro">


	<xacro:property name="ezgripper_offset_x" value="0.02"/>
	<xacro:property name="ezgripper_offset_y" value="0.0"/>
	<xacro:property name="ezgripper_offset_z" value="0.3"/>

	<xacro:include filename="$(find ezgripper_description)/urdf/materials.urdf.xacro"/>
	<xacro:include filename="$(find ezgripper_description)/urdf/quad/ezgripper_quad.urdf.xacro"/>

	<!-- Add the gripper -->
	<xacro:ezgripper_quad prefix="left" parent_link="base_link">
		<origin xyz="${ezgripper_offset_x} ${ezgripper_offset_y} ${ezgripper_offset_z}" rpy="-1.57 0 0"/>
	</xacro:ezgripper_quad>

	<link name="world"/>

	<joint name="fixed" type="fixed">
		<parent link="world"/>
		<child link="base_link"/>
	</joint>

	<link name="base_link">
		<visual>
			<geometry>
				<cylinder length="0.42" radius="0.02"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0.21"/>
			<material name="black"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.42" radius="0.02"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0.21"/>
		</collision>
	</link>

	<gazebo reference="base_link">
		<material>Gazebo/Black</material>
	</gazebo>

</robot>
